<p-toast></p-toast>
<div class="main">
  <p-table
    *ngIf="reserva"
    [value]="dataReservas"
    [selectionMode]="'single'"
    [(selection)]="selectedProduct"
    dataKey="num_reserva"
    [tableStyle]="{ 'min-width': '50rem' }"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)"
    [paginator]="true"
    [rows]="5"
    [globalFilterFields]="['nome']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Reserva</th>
        <th>Restaurante</th>
        <th>Pessoas</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Cliente</th>
        <th>Situação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr [pSelectableRow]="product">
        <td>{{ product.num_reserva }}</td>
        <td>{{ product.nome }}</td>
        <td>{{ product.num_pessoas }}</td>
        <td>{{ product.data_reserva }}</td>
        <td>{{ product.hora_reserva }}</td>
        <td>{{ product.nomeCliente }}</td>
        <td>
          <p-tag
            *ngIf="product.situacao == 'Pendente'"
            icon="pi pi-exclamation-triangle"
            severity="warning"
            value="Pendente"
          ></p-tag>
          <p-tag
            *ngIf="product.situacao == 'Confirmada'"
            icon="pi pi-check"
            severity="success"
            value="Confirmada"
          ></p-tag>
          <p-tag
            *ngIf="product.situacao == 'Rejeitada'"
            icon="pi pi-times"
            severity="danger"
            value="Rejeitada"
          ></p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-multiSelect
    *ngIf="reserva"
    [style]="{ 'min-width': '50rem' }"
    [options]="num_mesas"
    [(ngModel)]="mesasSelected"
    optionLabel="name"
  ></p-multiSelect>
  <div *ngIf="reserva" class="buttons">
    <button class="btn btn-primary" *ngIf="reserva" (click)="confirm()">
      Confirmar Reserva
    </button>
    <button class="btn btn-danger" *ngIf="reserva" (click)="deleteReserva()">
      Rejeitar Reserva
    </button>
  </div>

  <p-table
    [value]="dataClientes"
    [tableStyle]="{ 'min-width': '50rem' }"
    *ngIf="cliente"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Morada</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.id_cliente }}</td>
        <td>{{ product.nome }}</td>
        <td>{{ product.email }}</td>
        <td>{{ product.telefone }}</td>
        <td>{{ product.morada }}</td>
        <td>
          <p-button
            label="Apagar"
            styleClass="p-button-danger"
            (click)="deleteClient(product.id_cliente)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-table
    [value]="dataFuncionarios"
    [tableStyle]="{ 'min-width': '50rem' }"
    *ngIf="funcionario"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Funcionário</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Cargo</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.num_funcionario }}</td>
        <td>{{ product.nome_funcionario }}</td>
        <td>{{ product.idade }}</td>
        <td>{{ product.telefone }}</td>
        <td>{{ product.email }}</td>
        <td>{{ product.cargo }}</td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              (click)="showDialog(product)"
              class="p-button-rounded p-button-text"
            ></button>
          </div>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="deleteFunc(product.num_funcionario)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog
    header="Header"
    [(visible)]="visible"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <ng-template pTemplate="header">
      <span class="text-xl font-bold">Editar Funcionário</span>
    </ng-template>
    <p class="inputs">
      <input type="text" pInputText [(ngModel)]="nomeFunc" placeholder="Nome" />
      <input
        type="text"
        pInputText
        [(ngModel)]="idadeFunc"
        placeholder="Idade"
      />
      <input
        type="text"
        pInputText
        [(ngModel)]="telefoneFunc"
        placeholder="Telefone"
      />
      <input
        type="text"
        pInputText
        [(ngModel)]="emailFunc"
        placeholder="Email"
      />
      <p-dropdown
        [options]="cargosFunc"
        [(ngModel)]="cargo"
        optionLabel="name"
        placeholder="Selecione o Cargo"
        appendTo="body"
      ></p-dropdown>
      <button
        pButton
        pRipple
        label="Salvar"
        class="p-button-success"
        (click)="UpdateFunc()"
      ></button>

      <ng-template pTemplate="footer">
        <p-button
          icon="pi pi-check"
          (click)="UpdateFunc()"
          label="Salvar"
          styleClass="p-button-text"
        ></p-button>
      </ng-template></p
  ></p-dialog>

  <p-table
    [value]="dataMenus"
    [tableStyle]="{ 'min-width': '60rem' }"
    *ngIf="menu"
  >
    <ng-template pTemplate="caption">
      <div div class="flex align-items-center justify-content-center">
        Produtos
        <p-button icon="pi pi-plus" (click)="openModal()"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Imagem</th>
        <th>Preço</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.id_produto }}</td>
        <td>{{ product.nome_produto }}</td>
        <td>
          <img
            [src]="product.prod_imagem"
            [alt]="product.nome_produto"
            width="100"
            class="shadow-4"
          />
        </td>
        <td>{{ product.preco | currency : "EUR" }}</td>
        <td>
          <p-tag
            [value]="product.disponivel"
            [severity]="getSeverity(product.disponivel)"
          ></p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    header="Header"
    [(visible)]="menuModal"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    *ngIf="menu"
  >
    <ng-template pTemplate="header">
      <span class="text-xl font-bold">Adicionar Produto</span>
    </ng-template>
    <p class="inputs">
      <p-fileUpload
        mode="basic"
        name="demo[]"
        url="https://www.primefaces.org/cdn/api/upload.php"
        accept="image/*"
        (onUpload)="onUpload($event)"
        [auto]="true"
        chooseLabel="Imagem"
      ></p-fileUpload>
      <input
        type="text"
        pInputText
        [(ngModel)]="nome_prod"
        placeholder="Nome do Produto"
      />
      <p-inputNumber
        [(ngModel)]="preco"
        mode="currency"
        inputId="currency-germany"
        currency="EUR"
        locale="de-DE"
        placeholder="Valor"
      >
      </p-inputNumber>
      <p-button icon="pi pi-check" (onClick)="confirmProduct()"></p-button>
      <ng-template pTemplate="footer">
        <p-button
          icon="pi pi-check"
          (click)="UpdateFunc()"
          label="Salvar"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
    </p>
  </p-dialog>
</div>
