<p-toast></p-toast>
<div class="main">
  <p-table
    *ngIf="reserva"
    [value]="dataReservas"
    [selectionMode]="'single'"
    [(selection)]="selectedProduct"
    dataKey="num_reserva"
    [tableStyle]="{ 'min-width': '50rem' }"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)"
    [paginator]="true"
    [rows]="5"
    [globalFilterFields]="['nome']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Reserva</th>
        <th>Restaurante</th>
        <th>Pessoas</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Cliente</th>
        <th>Situação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr [pSelectableRow]="product">
        <td>{{ product.num_reserva }}</td>
        <td>{{ product.nome }}</td>
        <td>{{ product.num_pessoas }}</td>
        <td>{{ product.data_reserva }}</td>
        <td>{{ product.hora_reserva }}</td>
        <td>{{ product.nomeCliente }}</td>
        <td>
          <p-tag
            *ngIf="product.situacao == 'Pendente'"
            icon="pi pi-exclamation-triangle"
            severity="warning"
            value="Pendente"
          ></p-tag>
          <p-tag
            *ngIf="product.situacao == 'Confirmada'"
            icon="pi pi-check"
            severity="success"
            value="Confirmada"
          ></p-tag>
          <p-tag
            *ngIf="product.situacao == 'Rejeitada'"
            icon="pi pi-times"
            severity="danger"
            value="Rejeitada"
          ></p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-multiSelect
    *ngIf="reserva"
    [style]="{ 'min-width': '50rem' }"
    [options]="num_mesas"
    [(ngModel)]="mesasSelected"
    optionLabel="name"
  ></p-multiSelect>
  <div *ngIf="reserva" class="buttons">
    <button class="btn btn-primary" *ngIf="reserva" (click)="confirm()">
      Confirmar Reserva
    </button>
    <button class="btn btn-danger" *ngIf="reserva" (click)="deleteReserva()">
      Rejeitar Reserva
    </button>
  </div>

  <p-table
    [value]="dataClientes"
    [tableStyle]="{ 'min-width': '50rem' }"
    *ngIf="cliente"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Morada</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.id_cliente }}</td>
        <td>{{ product.nome }}</td>
        <td>{{ product.email }}</td>
        <td>{{ product.telefone }}</td>
        <td>{{ product.morada }}</td>
        <td>
          <p-button
            label="Apagar"
            styleClass="p-button-danger"
            (click)="deleteClient(product.id_cliente)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-table
    [value]="dataFuncionarios"
    dataKey="num_funcionario"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Funcionário</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Cargo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-editing="editing">
      <tr>
        <td
          [pEditableColumn]="product.num_funcionario"
          pEditableColumnField="code"
        >
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.num_funcionario"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.num_funcionario }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td
          [pEditableColumn]="product.nome_funcionario"
          pEditableColumnField="name"
        >
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.nome_funcionario"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.nome_funcionario }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td
          [pEditableColumn]="product.idade"
          pEditableColumnField="inventoryStatus"
        >
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText [(ngModel)]="product.idade" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.idade }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="product.telefone" pEditableColumnField="price">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.telefone" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.telefone }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="product.email" pEditableColumnField="price">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.email" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.email }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="product.cargo" pEditableColumnField="price">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.cargo" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.cargo }}
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
