<section class="main-sec-about">
  <div class="container-about">
    <div class="text-container">
      <h1 class="title-container">Sobre Nós</h1>
      <div class="rec">
        <div class="rec-1"></div>
        <span class="rec-2"></span>
        <span class="rec-3"></span>
      </div>
      <p style="width: 60%; color: #fff">
        Bem-vindo ao Menu do Chefe! Somos uma cadeia de restaurantes italiana
        localizada em Lisboa, Coimbra, Faro e Porto. Especializamo-nos em massas
        e pizzas deliciosas, preparadas com os melhores ingredientes e amor pela
        culinária italiana. Acreditamos em oferecer uma experiência gastronômica
        autêntica, onde cada prato é preparado com cuidado e paixão. Nosso
        objetivo é proporcionar momentos memoráveis para nossos clientes, com um
        ambiente acolhedor e serviço amigável. Visite-nos hoje mesmo e descubra
        os sabores incríveis da culinária italiana no Menu do Chefe. Esperamos
        recebê-lo em breve!
      </p>
      <a href="#reservas"><button class="reservaBtn">Reserve Já!</button></a>
    </div>
    <div class="img-container">
      <img src="../../../assets/mesa.png" alt="" />
    </div>
  </div>
</section>
