<section class="main-sec" style="background-image: url(../../assets/wood.png)">
  <div
    class="dark"
    style="background-image: url(../../assets/Rectangle\ 2.png)"
  >
    <div class="imgPizza"><img src="../../assets/footer.png" alt="" /></div>
    <div class="text">
      <h1>Menu do chefe</h1>
      <div class="rec">
        <div class="rec-1"></div>
        <span class="rec-2"></span>
        <span class="rec-3"></span>
      </div>
    </div>
    <footer class="creditos">
      <h6>
        @Módulo 16 - Menu do Chefe - Rodrigo Midões & Tiago Monteirinho, 12ºGPSI
      </h6>
    </footer>
  </div>
</section>
