.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  position: fixed;

  .text-header-main {
    padding: 10px 10px 10px 10px;
    color: #ffffff;
    .text-header {
      color: #f2c94c;
    }
  }

  .nav {
    display: flex;
    align-items: center;

    .link {
      margin-left: 16px;
      margin-right: 10px;
      cursor: pointer;
    }
    .link-logout {
      margin-left: 16px;
      margin-right: 10px;
      cursor: pointer;
      color: red;
    }
  }
  .nav a {
    text-decoration: none;
    color: #ffffff;
  }

  .dropdown {
    padding: 10px 10px 10px 10px;

    .text-logout {
      color: red;
    }
    .text-login {
      color: green;
    }
  }
}

@media (min-width: 640px) {
  .mobile-icons {
    display: none;
    color: black;
  }
  .dropdown {
    display: none;
  }
}

@media (max-width: 640px) {
  .link {
    display: none;
  }
  .link-logout {
    display: none;
  }
}
