<header class="header shadow">
  <div class="text-header-bd">
    <h4 class="text-header-main">
      <span class="text-header-1">Menu </span
      ><span class="text-header-2">Do </span
      ><span class="text-header-3">Chefe</span>
    </h4>
    <div class="rec">
      <div class="rec-1"></div>
      <span class="rec-2"></span>
      <span class="rec-3"></span>
    </div>
  </div>

  <nav class="nav">
    <a [routerLink]="'/home'" routerLinkActive="activeRouter"
      ><h6 class="link">Home</h6></a
    >
    <a
      [routerLink]="'/home'"
      routerLinkActive="activeRouter"
      [routerLinkActiveOptions]="linkActiveOptions"
      fragment="restaurantes"
      ><h6 class="link">Restaurantes</h6></a
    >
    <a
      [routerLink]="'/home'"
      routerLinkActive="activeRouter"
      [routerLinkActiveOptions]="linkActiveOptions"
      fragment="reservas"
      ><h6 class="link">Reservas</h6></a
    >
    <a [routerLink]="'/encomendas'" routerLinkActive="activeRouter"
      ><h6 class="link">Encomendar</h6></a
    >
    <a [routerLink]="'/login'" routerLinkActive="activeRouter"
      ><h6 *ngIf="!loginBtn" class="link">Login</h6></a
    >
    <a *ngIf="btnAdmin" [routerLink]="'/admin'" routerLinkActive="activeRouter"
      ><h6 class="link">Admin</h6></a
    >
    <a [routerLink]="'/perfil'" routerLinkActive="activeRouter"
      ><h6 *ngIf="loginBtn" class="link">Perfil</h6></a
    >
    <a *ngIf="loginBtn" (Click)="userLogout()">
      <h6 class="link-logout">Logout</h6>
    </a>
  </nav>

  <div class="dropdown">
    <a
      href=""
      class="dropdown-toggle"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      id="dropdownMenuLink"
      ><lucide-icon name="MenuIcon" class="mobile-icons"></lucide-icon
    ></a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" [routerLink]="'/home'">Home</a></li>
      <li>
        <a
          class="dropdown-item"
          [routerLink]="'/home'"
          routerLinkActive="activeRouter"
          [routerLinkActiveOptions]="linkActiveOptions"
          fragment="restaurantes"
          >Restaurantes</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          [routerLink]="'/home'"
          routerLinkActive="activeRouter"
          [routerLinkActiveOptions]="linkActiveOptions"
          fragment="reservas"
          >Reservas</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          [routerLink]="'/encomendas'"
          routerLinkActive="activeRouter"
          >Encomendar</a
        >
      </li>
      <li>
        <a [routerLink]="'/admin'" *ngIf="btnAdmin" class="dropdown-item">
          Admin
        </a>
      </li>
      <li>
        <a
          class="dropdown-item text-login"
          *ngIf="!loginBtn"
          [routerLink]="'/login'"
          routerLinkActive="activeRouter"
        >
          Login
        </a>
      </li>
      <li><a class="dropdown-item" *ngIf="loginBtn">Perfil</a></li>
      <li>
        <a
          class="dropdown-item text-logout"
          *ngIf="loginBtn"
          (click)="userLogout()"
          [routerLink]="'/login'"
        >
          Logout
        </a>
      </li>
    </ul>
  </div>
</header>
