<app-navbar></app-navbar>
<section class="main-sec">
  <div class="main-div">
    <div class="main-half">
      <div class="cards">
        <div class="cardProd" *ngFor="let item of dataProdutos">
          <div class="cardImg">
            <img
              src="{{ item.prod_imagem }}"
              alt="{{ item.nome_produto }}"
              class="img"
            />
          </div>
          <div class="cardF">
            <div class="cardText">
              <h5 class="text">{{ item.nome_produto }}</h5>
              <p class="text">{{ item.preco }}€</p>
            </div>
            <div class="cardbtn">
              <p-button icon="pi pi-plus"></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sec-div">
    <p>ola</p>
  </div>
</section>
