<app-navbar></app-navbar>
<section class="main-sec">
  <div class="main-div">
    <div class="items">
      <div class="avatar">
        <div
          class="avatar-image"
          style="background-image: url('../../../assets/wood.png')"
        ></div>
      </div>
      <div class="user-info">

      </div>
    </div>
    <div class="info">
      <div class="reservas">
        <div class="client-card">
          <img src="../../../assets/wood.png" alt="" class="image" />
          <div class="text">
            <h6 class="text-text-1">Restaurante: MC01</h6>
            <p class="text-text">Data : 13-05-2005</p>
            <p class="text-text">Horas : 19h00</p>
            <p class="text-text">Pessoas: 10</p>
          </div>
        </div>
        <div class="client-card">
            <img src="../../../assets/wood.png" alt="" class="image" />
            <div class="text">
              <h6 class="text-text-1">Restaurante: MC01</h6>
              <p class="text-text">Data : 13-05-2005</p>
              <p class="text-text">Horas : 19h00</p>
              <p class="text-text">Pessoas: 10</p>
            </div>
          </div>
          <div class="client-card">
            <img src="../../../assets/wood.png" alt="" class="image" />
            <div class="text">
              <h6 class="text-text-1">Restaurante: MC01</h6>
              <p class="text-text">Data : 13-05-2005</p>
              <p class="text-text">Horas : 19h00</p>
              <p class="text-text">Pessoas: 10</p>
            </div>
          </div>
          <div class="client-card">
            <img src="../../../assets/wood.png" alt="" class="image" />
            <div class="text">
              <h6 class="text-text-1">Restaurante: MC01</h6>
              <p class="text-text">Data : 13-05-2005</p>
              <p class="text-text">Horas : 19h00</p>
              <p class="text-text">Pessoas: 10</p>
            </div>
          </div>
          <div class="client-card">
            <img src="../../../assets/wood.png" alt="" class="image" />
            <div class="text">
              <h6 class="text-text-1">Restaurante: MC01</h6>
              <p class="text-text">Data : 13-05-2005</p>
              <p class="text-text">Horas : 19h00</p>
              <p class="text-text">Pessoas: 10</p>
            </div>
          </div>
      </div>
      <div class="encomendas">
        <div class="client-card">
          <img src="../../../assets/wood.png" alt="" class="image" />
          <div class="text">
            <h6 class="text-text-1">Restaurante: MC01</h6>
            <p class="text-text">Data : 13-05-2005</p>
            <p class="text-text">Horas : 19h00</p>
            <p class="text-text">Pessoas: 10</p>
          </div>
        </div>
        <div class="client-card">
            <img src="../../../assets/wood.png" alt="" class="image" />
            <div class="text">
              <h6 class="text-text-1">Restaurante: MC01</h6>
              <p class="text-text">Data : 13-05-2005</p>
              <p class="text-text">Horas : 19h00</p>
              <p class="text-text">Pessoas: 10</p>
            </div>
          </div>
          <div class="client-card">
            <img src="../../../assets/wood.png" alt="" class="image" />
            <div class="text">
              <h6 class="text-text-1">Restaurante: MC01</h6>
              <p class="text-text">Data : 13-05-2005</p>
              <p class="text-text">Horas : 19h00</p>
              <p class="text-text">Pessoas: 10</p>
            </div>
          </div>
          <div class="client-card">
            <img src="../../../assets/wood.png" alt="" class="image" />
            <div class="text">
              <h6 class="text-text-1">Restaurante: MC01</h6>
              <p class="text-text">Data : 13-05-2005</p>
              <p class="text-text">Horas : 19h00</p>
              <p class="text-text">Pessoas: 10</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
