<section class="main-sec-reservas" id="reservas">
  <p-toast></p-toast>
  <main class="main-div" *ngIf="!login">
    <h1>Para realizar uma reserva, por favor faça o login.</h1>
    <a [routerLink]="'/login'"><button class="loginBtn">Login</button></a>
  </main>
  <main class="main-div-reservas" *ngIf="login">
    <form action="" class="signin-form">
      <div class="img-div">
        <img src="../../../assets/mesa.png" alt="" />
      </div>
      <div class="inputs">
        <span style="color: red">{{ errorMessage }}</span>
        <div class="form-group">
          <p-dropdown
            [options]="restaurantes"
            [(ngModel)]="selectedRestaurante"
            optionLabel="name"
            placeholder="Selecrine um Restaurante"
          ></p-dropdown>
        </div>
        <div class="form-group">
          <p-inputNumber
            [(ngModel)]="nPessoas"
            mode="decimal"
            [showButtons]="true"
            inputId="minmax-buttons"
            [min]="0"
            [max]="50"
            placeholder="Selecione o nº Pessoas"
          >
          </p-inputNumber>
        </div>
        <div class="form-group">
          <input
            id="password-field"
            type="date"
            class="form-control"
            required
            [(ngModel)]="dataReserva"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="form-group">
          <select
            [value]="0"
            name=""
            id=""
            class="form-control"
            [(ngModel)]="hora"
            [ngModelOptions]="{ standalone: true }"
          >
            <option value="0" selected>Selecione uma Hora</option>
            <option
              value="{{ item }}"
              *ngFor="let item of horas"
              class="options"
            >
              {{ item }}
            </option>
          </select>
        </div>
        <div class="form-group btnReserva">
          <button
            type="submit"
            class="form-control btn btn-primary rounded submit px-3"
            (click)="reservarMesa()"
          >
            Reservar
          </button>
        </div>
      </div>
    </form>
  </main>
</section>
