<app-navbar></app-navbar>
<section class="main-sec" style="background-image: url(../../assets/wood.png)">
  <div
    class="dark"
    style="background-image: url(../../assets/Rectangle\ 2.png)"
  >
    <div class="main-div-home">
      <h1>Menu do Chefe</h1>
      <div class="rec">
        <div class="rec-1"></div>
        <span class="rec-2"></span>
        <span class="rec-3"></span>
      </div>
      <p>
        Na cadeia Menu do Chefe, nunca se sentirá esfomeado, pois com as nossas
        massas e pizzas será sempre saciado.
      </p>
    </div>
    <div class="imgPizza"><img src="../../assets/pizza.png" alt="" /></div>
  </div>
</section>
<app-about></app-about>
<app-restaurantes-display></app-restaurantes-display>
<app-reservas></app-reservas>
<app-footer></app-footer>
