@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");

.main-sec {
  display: flex;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;

  .dark {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    .main-div-home {
      display: flex;
      flex-direction: column;
      height: 50%;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      h1,
      p {
        color: #ffffff;
      }
      p {
        text-align: center;
        width: 400px;
      }
      h1 {
        font-family: Smooch;
        font-size: 3.75rem; /* 60px */
        line-height: 1;
      }

      .rec {
        display: flex;
        flex-direction: row;
        width: 250px;

        .rec-1 {
          width: 33.3%;
          height: 100%;
          border: 2px solid green;
        }
        .rec-2 {
          width: 33.3%;
          background-color: #fff !important;
        }
        .rec-3 {
          width: 33.3%;
          background-color: red !important;
        }
      }
    }
    .imgPizza {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 50%;
      img {
        width: 75%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1000px) {
  img {
    width: 100% !important;
  }
}
@media (max-width: 750px) {
  img {
    height: 75% !important;
  }
  .imgPizza {
    flex-direction: column;
    justify-content: flex-end;
  }
}
@media (max-width: 590px) {
  img {
    height: 40% !important;
  }
  p {
    width: 75% !important;
  }
  h1 {
    font-size: 2.25rem !important; /* 36px */
    line-height: 2.5rem !important; /* 40px */
  }
}
